<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>shopping cart</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
  <script src="store.js" async></script>
	</head>
	<body>
		<header>
		<h1>Shopping Cart</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>

		</main>
   
 

</html>